* { 
    margin: 0; 
    padding: 0; 
    background-color: aliceblue;
}

body { 
    font: 16px  Sans-Serif; 
    line-height: 24px; background: url(images/noise.jpg); 
}

.clear { 
    clear: both; 
}

#page-wrap { 
    width: 800px; 
    margin: 40px auto 60px; 
}

.fn{
    font-weight: 200; 
    
}
h1 { 
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px; 
    border-bottom: 1px solid #999; 
}

h2 { font-size: 20px;
    margin: 0 0 6px 0;
    position: relative; 
}


p {
    margin: 0 0 16px 0; 
}

a { 
    color: #999; 
    text-decoration: none; 
    border-bottom: 1px dotted #999; 
}

a:hover { 
    border-bottom-style: solid;
    color: black; 
}

ul { 
    margin: 0 0 32px 17px; 
}

#objective { 
    width: 500px; 
    float: left; 
}

#objective p { 
    font-family: Georgia;
    font-style: italic;
    color: #666; 
}

dt { 
    font-style: italic;
    font-weight: bold; 
    font-size: 18px;
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    float: left; 
    height: 100px;
    border-top: 1px solid #999;  
}

dd { 
    width: 600px; 
    float: right; 
}

dd.clear { 
    float: none; 
    margin: 0; 
    height: 15px;
}

 img{
    width: 200px;
    position: relative;
    float: right; 
    margin: 40px 0 0 0; 
    background-color: aliceblue;

}
span{
    text-decoration-line: underline  ;
}
